/* adding the css for the todolist application  */

.main_div {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center_div {
  display: flex;
  border: 2px solid red;
  flex-direction: column;
  width: 40%;
  height: 60%;
}

.center_div h1 {
  border: 2px solid green;
  text-align: center;
  background-color: blueviolet;
  color: white;
}
